.header{
padding:2px;
background:white;
margin :0;
text-align:center;
display: block;
}

.p1
{
text-align:justify; 
padding-right:10px;
padding-left:10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: pink;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.content{
width:70%;
padding:3px;
background:Tomato;
margin :0;
text-align:center;
display: block;
}
.heading1,.heading2,.heading3,.heading4{
width:35%;
padding:3px;
background:cyan;
margin :3px;
text-align:center;
display: block;
}

.column {
  float: left;
  width: 35%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#sidebar {
  height:90%;
  width:29%;
  background:white;
  position:relatvie;
  float:right;
  margin-top:-350px;
}
.footer{
padding:2px;
background:red;
margin-bottom :-300px;
position: relative;
text-align:center;
display: block;
}


